@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&family=Satisfy&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #e6dfd6;
    color: #2b1800;
    height: 100%;
    }

#main-container {
    background-color: #fff;
    width: 80%;
    height: 100%;
    margin: auto;
    border: 1px solid #e9d4ba;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #e7d9c7;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* headings and logo */

header {
    display: flex;
    justify-content: start;
    height: 150px;
    margin-top: 20px;  
    padding-top: 50px;          
}

h1, h2, h3 {
    font-family: RobotoCondensed, sans-serif;
    text-transform: uppercase;
    color: #db430c;    
}

hr {
    border-bottom: 2px solid #e7d9c7;
    width: 100%;
    margin: 5px 0;
}

.logo_breeder {
    font-family: Satisfy, sans-serif;
    margin-left: 30px;
    margin-top: 5px;
    text-shadow: 1px 1px 3px #f0650d;
    letter-spacing: 5px;
}

#logo_text  {
    font-family: Satisfy, sans-serif; 
    text-shadow: 1px 1px 3px #f0650d;
    letter-spacing: 2px; 
    margin: 0;  
    font-size: 80%;
}


#logo_image {
    margin-left: 10px; 
    background: url('../images/poodle-silhouette.png')  center;
    height: 50px;
    width: 50px;
}

/* navigation buttons */

.menu {
    letter-spacing: 2px;
    text-transform: uppercase;  
    
}

.menu li {
    list-style: none;
    margin-right: 30px;
    border: 3px solid #e7d9c7;
    border-radius: 5px;
    padding: 10px;
    float: left;
}

#active {
    color:#db430c;
    text-decoration: underline overline #e6dfd6;
    
}

.menu, .logo_breeder, #logo_image  {
    display: inline-block;
    vertical-align: text-top;     
} 

.menu a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

.menu li:hover {
    color:#db430c;
    background-color: #f7f4f4; 
}

#header_image {  
        margin: 0 50px 0 50px; 
        border: 3px solid #e7d9c7;
        background: url('../images/pexels-skyler-ewing-6544846.jpg') no-repeat  center center;
        height: 150px;
        width: 150px;
        position: relative;
        top: -35px;
        border-radius: 50%;  
}

/* main content */

#content {
   width: 100%;
}

figure {
    float: left;
}

.about_us_content {
    margin: 20px;
    padding: 10px;
    line-height: 30px;
}

.about_us_content ul {
    list-style-type: none;
    margin-bottom: 20px;
    width: 100%;
}

.text_main {
    width: 100%;
    }

.section_header {
    text-align: center;
    margin: 30px 0 20px 0;
    
}

/* why poodles */

.why_poodles {   
    display: flex;
    justify-content: space-around;
    margin: 50px 0 50px 0;
    }

.why_poodles_sections {
    box-sizing: border-box;
    width: 30%;
    padding: 10px;
    margin: 5px;
}

.why_poodles_icons {
    font-size: 250%;
    color:#db430c;     
    text-align: center;
}

/*i {
    border: 3px solid #e7d9c7;
    border-radius: 50%;    
    padding: 10px;
} */

/* our poodles */   

.our_poodles_gallery {
    width: 400px;
    height: 400px;
    border: 3px solid red;
    border-radius: 10px;
}

figcaption {
    text-align: center;
}

/* footer */

footer {
    height: 70px;
    width: 100%;    
    background-color: #f7f4f4;
    margin-top: 20px;  
    margin-bottom: 10px;
}


#footer_info {
    text-align: center;   
    margin: 20px;   
    padding-top: 20px;   
}

#footer_info li {
    display: inline;
    text-decoration: none;
    margin: 50px 50px;    
    font-weight: 500;
    font-size: 90%;
}

.icon_message {
    font-size: 150%;
    color:#db430c;
    margin-left: 20px; 
}

